.container__search {
    position: relative;
    border-bottom: 2px solid $gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: $black;
    padding: 0 30px;
    margin-bottom: 10px;
}

.container__search::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;

    left: 0;
    top: 0;
    background: url('../../img/search.svg') no-repeat;

}